@import "../core/vars",
        "../core/mixins";


@import "./widgets/header",
"./widgets/front",
"./widgets/benefit",
"./widgets/technology",
"./widgets/module",
"./widgets/feedback",
"./widgets/how",
"./widgets/detail",
"./widgets/apply",
"./widgets/patent",
"./widgets/footer";

.b-wrap{
    overflow: hidden;
}

.hidden-images-big{
    visibility: hidden;
    position: absolute;
    left: -2000px;
}

#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    z-index: 99999;
}

#status{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../images/status.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}









