{% extends "default.twig" %}

{% block body_class %}  main-page {% endblock %}

{% block title %}
    Der Stahl
{% endblock %}

{% block styles %}{% endblock %}


{% block page %}
    <div class="b-wrap">
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>

        <div class="b-front" id="frontscreen">
            <div class="front-slider js-slider-front">
                <div class="front-slider__i" style="background-image: url(./assets/images/slidermain/image1.jpg)"></div>
                <div class="front-slider__i" style="background-image: url(./assets/images/slidermain/image2.jpg)"></div>
                <div class="front-slider__i" style="background-image: url(./assets/images/slidermain/image3.jpg)"></div>
            </div>

            <div class="b-front__inner">
                <div class="b-menu b-menu_state_top js-menu">
                    <a class="b-logo" href="/" title="der Stahl"></a>

                    <div class="b-menu__list">
                        <span class="b-menu__active" data-nav-active></span>
                        <a class="b-menu__link" data-nav-item href="#" data-target="module">Модули</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="technology">Технология</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="apply">Заказать проект</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="howlook">Как это выглядит</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="benefit">Выгода</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="whybl">Почему это удобно</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="info-detail">Инфографика</a>
                    </div>
                </div>

                <div class="b-front__info">
                    <a href="tel:88001004796" class="b-front__phone">
                        8 800 100-47-96
                    </a>
                    <i class="b-front__icon"></i>
                    <a href="tel:84957204155" class="b-front__phone">
                        8 495 720-41-55
                    </a>
                </div>

                <div class="b-front__head">
                    <h2 class="b-front__title">
                        Дома из модулей быстрой сборки
                    </h2>

                    <div class="b-front__subtitle">
                        Интересно отметить, что контент нейтрализует ребрендинг, учитывая современные тенденции.
                        Размещение создает стратегический маркетинг, оптимизируя бюджеты. Выставочный стенд, суммируя приведенные примеры.
                    </div>
                </div>
            </div>

            <a class="b-front__link" href="#" data-target="module">
                <span class="inner"></span>
            </a>
        </div>

        <div class="b-module" id="module">
            <div class="b-module__inner">
                <h2 class="b-module__title b-title">
                    Строительные модули
                </h2>

                <div class="b-module__subtitle b-subtitle">
                    для сборки каркаса дома
                </div>

                <div class="js-zoom">
                    <div class="module-slider">
                        <div class="module-slider__i" data-module-item>
                            Портрет потребителя рынка, отвоевывая рыночный
                            сегмент. Траут показал, что продукт основан на тщательном
                            <a class="link-simple" href="#">анализе данных</a>. Рекламная кампания, суммируя приведенные
                            примеры, многопланово. однообразно программирует популярный сегментоднообразно программирует популярный сегментоднообразно программирует популярный сегментоднообразно программирует популярный сегментоднообразно программирует популярный сегмент
                        </div>

                        <div class="module-slider__i" data-module-item>
                            Траут показал, что продукт основан на тщательном
                            <a class="link-simple" href="#">анализе данных</a>. Рекламная кампания, суммируя приведенные
                            примеры, многопланово. однообразно программирует популярный сегмент
                        </div>

                        <div class="module-slider__i" data-module-item>
                            <a class="link-simple" href="#">анализе данных</a>. Рекламная кампания, суммируя приведенные
                            примеры, многопланово. однообразно программирует популярный сегментоднообразно программирует популярный сегментоднообразно программирует популярный сегментоднообразно программирует популярный сегментоднообразно программирует популярный сегмент
                        </div>

                        <div class="module-slider__nav">
                            <div class="module-slider__nav-i" data-module-link></div>
                            <div class="module-slider__nav-i" data-module-link></div>
                            <div class="module-slider__nav-i" data-module-link></div>
                        </div>
                    </div>

                    <div class="module-draft">
                        <img src="./assets/images/preview-full.jpg" class="hidden-images-big" alt=""/>
                        <a href="./assets/images/preview-full.jpg" class="zoomy-type" data-zoom>
                            <div class="module-draft__img" data-zoom-img></div>
                        </a>

                        <div class="module-draft__i position-1" data-module="0" data-module-draft>
                            <div class="pin"></div>
                            <div class="pin-outer" data-module-round></div>
                            <div class="image" style="background-image: url(./assets/images/image5.png);"></div>
                        </div>

                        <div class="module-draft__i position-2" data-module="1" data-module-draft>
                            <div class="pin"></div>
                            <div class="pin-outer" data-module-round></div>
                            <div class="image" style="background-image: url(./assets/images/image5.png);"></div>
                        </div>

                        <div class="module-draft__i position-3" data-module="2" data-module-draft>
                            <div class="pin"></div>
                            <div class="pin-outer" data-module-round></div>
                            <div class="image" style="background-image: url(./assets/images/image5.png);"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="b-tech" id="technology">
            <h2 class="b-tech__title b-title">
                О технологии
            </h2>

            <div class="b-tech__subtitle b-subtitle">
                и достоинствах модулей
            </div>

            <div class="b-tech__list">
                <div class="b-tech__i">
                    <i class="icons-tech-sbor"></i>
                    <h4 class="title">
                        Надежность сборки
                    </h4>

                    <div class="text">
                        Объемная скидка требовальна креативу. Построение бренда, конечно, концентрирует культурный побочный PR-эффект, отвоевывая рыночный сегмент.
                    </div>
                </div>

                <div class="b-tech__i">
                    <i class="icons-tech-quality"></i>
                    <h4 class="title">
                        Великолепное качество
                    </h4>

                    <div class="text">
                        Объемная скидка требовальна креативу Построение бренда, конечно, концентрирует культурный побочный PR-эффект, отвоевывая рыночный сегмент.
                    </div>
                </div>

                <div class="b-tech__i">
                    <i class="icons-tech-progress"></i>
                    <h4 class="title">
                        Прогрессивная технология
                    </h4>

                    <div class="text">
                        Объемная скидка требовальна креативу Построение бренда, конечно, концентрирует культурный побочный PR-эффект, отвоевывая рыночный сегмент.
                    </div>
                </div>
            </div>
        </div>

        <div class="b-apply" id="apply">
            <h2 class="b-apply__title b-title">
                Отправьте заявку и получите хайтек козырек
            </h2>

            <div class="b-apply__subtitle  b-subtitle">
                из нержавеющей стали и стекла в подарок <b>бесплатно</b> или <a class="link-gray" href="#">закажите
                    бесплатный звонок</a>
            </div>

            <form class="b-form js-form" action="#">
                <div class="b-form__i" data-form-item>
                    <i class="icons-form-name"></i>
                    <input type="text" name="name"  class="b-form__input js-placeholder" placeholder="Ваше имя"/>
                </div>

                <div class="b-form__i" data-form-item>
                    <i class="icons-form-email"></i>
                    <input type="email" name="name" class="b-form__input js-placeholder" placeholder="E-mail"/>
                </div>

                <div class="b-form__i" data-form-item>
                    <i class="icons-form-phone"></i>
                    <input type="text" name="name" class="b-form__input js-placeholder" placeholder="Номер телефона"/>
                </div>

                <button type="submit" class="b-form__submit">
                    <span class="b-form__submit-text">Отправить заявку</span>
                    <span class="b-form__submit-inner"></span>
                </button>
            </form>
        </div>

        <div class="b-how" id="howlook">
            <h2 class="b-how__title b-title">
                Как это выглядит
            </h2>

            <div class="b-how__subtitile b-subtitle">
                просто и доступно
            </div>

            <div class="b-how__tabs js-tab">
                <div class="b-how__nav" data-tab-nav>
                    <span class="b-menu__active" data-nav-active></span>
                    <a class="b-how__nav-i active" data-tab-item href="#how-dom1">дом Винтерфел</a>
                    <a class="b-how__nav-i" data-tab-item href="#how-dom2">дом Ребенка</a>
                    <a class="b-how__nav-i" data-tab-item href="#how-dom3">дом Эльпсам</a>
                </div>

                <div class="b-how__content">
                    <div class="b-how__content-i active" data-tab-content id="how-dom1">
                        <h4 class="title">
                            Дом Винтерфел, 2 этажа, 45 м². Стоимость <b>1 294 000 рублей</b>
                        </h4>
                        <div class="content">
                            3 комнаты. Санузел 4м². Кухня 4м². Фундамент — сваи.<br>
                            Срок выполнения 3 месяца.
                        </div>
                        <div class="scroll-pane b-scroll" data-tab-scroll>
                            <div class="b-scroll__inner" data-scroll-width>
                                <a href="./assets/images/image6.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image6.png)"></a>
                                <a href="./assets/images/image7.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image7.png)"></a>
                                <a href="./assets/images/image6.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image6.png)"></a>
                                <a href="./assets/images/image7.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image7.png)"></a>
                                <a href="./assets/images/image6.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image6.png)"></a>
                                <a href="./assets/images/image7.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image7.png)"></a>
                            </div>
                        </div>
                    </div>
                    <div class="b-how__content-i" data-tab-content id="how-dom2">
                        <h4 class="title">
                            Дом Винтерфел,  Стоимость <b>1 294 000 рублей</b>
                        </h4>
                        <div class="content">
                            3 комнаты. Санузел 4м². Кухня 4м². Фундамент — сваи.<br>
                            Срок выполнения 3 месяца.
                        </div>
                        <div class="scroll-pane b-scroll"  data-tab-scroll>
                            <div class="b-scroll__inner" data-scroll-width>
                                <a href="./assets/images/image6.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image6.png)"></a>
                                <a href="./assets/images/image7.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image7.png)"></a>
                                <a href="./assets/images/image6.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image6.png)"></a>
                                <a href="./assets/images/image7.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image7.png)"></a>
                                <a href="./assets/images/image6.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image6.png)"></a>
                                <a href="./assets/images/image7.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image7.png)"></a>
                            </div>
                        </div>
                    </div>
                    <div class="b-how__content-i" data-tab-content id="how-dom3">
                        <h4 class="title">
                            2 этажа, 45 м². Стоимость <b>1 294 000 рублей</b>
                        </h4>
                        <div class="content">
                            3 комнаты. Санузел 4м². Кухня 4м². Фундамент — сваи.<br>
                            Срок выполнения 3 месяца.
                        </div>
                        <div class="scroll-pane b-scroll"  data-tab-scroll>
                            <div class="b-scroll__inner" data-scroll-width>
                                <a href="./assets/images/image6.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image6.png)"></a>
                                <a href="./assets/images/image7.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image7.png)"></a>
                                <a href="./assets/images/image6.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image6.png)"></a>
                                <a href="./assets/images/image7.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image7.png)"></a>
                                <a href="./assets/images/image6.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image6.png)"></a>
                                <a href="./assets/images/image7.png" class="js-fancybox b-scroll__i" style="background-image: url(./assets/images/image7.png)"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="b-benefit" id="benefit">
            <h2 class="b-benefit__title b-title">
                Выгода в цифрах
            </h2>

            <div class="b-benefit__subtitle b-subtitle">
                просто и доступно
            </div>
            <div class="b-benefit__list">
                <div class="b-benefit__i">
                    <h4 class="title">
                        106
                    </h4>

                    <div class="subtitle">
                        выполненных проекта
                    </div>
                    <div class="text">
                        Объемная скидка требовальна креативу. Построение бренда, конечно , концентрирует культурный
                    </div>
                </div>

                <div class="b-benefit__i">
                    <h4 class="title">
                        40 лет
                    </h4>

                    <div class="subtitle">
                        гарантия модулей
                    </div>
                    <div class="text">
                        Объемная скидка требовальна креативу. Построение бренда, конечно, концентрирует.
                    </div>
                </div>

                <div class="b-benefit__i">
                    <h4 class="title">
                        до 30%
                    </h4>

                    <div class="subtitle">
                        экономии на строительстве
                    </div>
                    <div class="text">
                        Объемная скидка требовальна креативу. Построение бренда, конечно, концентрирует культурный.
                    </div>
                </div>
            </div>
        </div>

        <div class="b-feedback " id="whybl">
            <div class="b-feedback__slider js-feedback-slider">
                <div class="b-feedback__i">
                    <h4 class="b-feedback__i-title">
                        Модульные системы — это выгодно, качественно и быстро!
                    </h4>

                    <div class="b-feedback__i-con">
                        <div class="b-feedback__i-img" style="background-image: url(./assets/images/image4.png);"></div>

                        <div class="b-feedback__i-text">
                            <div class="inner">
                                Сергей Михаловский, прораб разряда. Барнаул.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="b-feedback__i">
                    <h4 class="b-feedback__i-title">
                        Модульные системы — это выгодно, качественно и быстро!
                    </h4>

                    <div class="b-feedback__i-con">
                        <div class="b-feedback__i-img" style="background-image: url(./assets/images/image4.png);"></div>

                        <div class="b-feedback__i-text">
                            <div class="inner">
                                Сергей Михаловский,
                            </div>
                        </div>
                    </div>
                </div>

                <div class="b-feedback__i">
                    <h4 class="b-feedback__i-title">
                        Модульные системы — это выгодно, качественно и быстро!
                    </h4>

                    <div class="b-feedback__i-con">
                        <div class="b-feedback__i-img" style="background-image: url(./assets/images/image4.png);"></div>

                        <div class="b-feedback__i-text">
                            <div class="inner">
                                Сергей Михаловский, прораб разряда. Барнаул.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-detail" id="info-detail">
            <h2 class="b-detail__title b-title">
                Технология модульного строительства <b>Derstahl</b>
            </h2>

            <div class="b-detail__subtitle b-subtitle">
                о популярных строительных материалах и их преимуществах
            </div>

            <div class="dettab js-diffrence">
                <div class="dettab__nav" data-diff-con>
                    <span class="b-menu__active" data-diff-active></span>

                    <a class="dettab__nav-i active" data-diff-nav href="#" data-diff-info="money">
                        стоимость
                    </a>
                    <a class="dettab__nav-i" data-diff-nav href="#" data-diff-info="date">
                        срок эксплуатации
                    </a>
                    <a class="dettab__nav-i" data-diff-nav href="#" data-diff-info="energy">
                        энергоэффективность
                    </a>
                    <a class="dettab__nav-i" data-diff-nav href="#" data-diff-info="speed">
                        быстрота возведения
                    </a>
                    <a class="dettab__nav-i" data-diff-nav href="#" data-diff-info="fire">
                        пожароустойчивость
                    </a>
                    <a class="dettab__nav-i" data-diff-nav href="#" data-diff-info="convenience">
                        эргономичность
                    </a>
                    <a class="dettab__nav-i" data-diff-nav href="#" data-diff-info="ecology">
                        экологичность
                    </a>
                </div>
                <div class="dettab__content">
                    <div class="dettab__table">
                        <div class="dettab__row">
                            <div class="dettab__row-text">
                                <div class="table-row-inner-derstahl">
                                    Технология модульного строительства
                                </div>
                            </div>
                            <div class="dettab__row-value" data-diff-value></div>
                            <div class="dettab__row-progress" data-diff-progress>
                                <div class="dettab__row-tooltip">
                                    Короткий текст о преимуществах: модульная система строительства домов стремительно набирает обороты.
                                </div>
                            </div>
                        </div>

                        <div class="dettab__row">
                            <div class="dettab__row-text">
                                Клееный брус
                            </div>
                            <div class="dettab__row-value" data-diff-value></div>
                            <div class="dettab__row-progress" data-diff-progress></div>
                        </div>

                        <div class="dettab__row">
                            <div class="dettab__row-text">
                                Оцилиндрованное бревно
                            </div>
                            <div class="dettab__row-value" data-diff-value></div>
                            <div class="dettab__row-progress" data-diff-progress></div>
                        </div>

                        <div class="dettab__row">
                            <div class="dettab__row-text">
                                Кирпич
                            </div>
                            <div class="dettab__row-value" data-diff-value></div>
                            <div class="dettab__row-progress" data-diff-progress></div>
                        </div>

                        <div class="dettab__row">
                            <div class="dettab__row-text">
                                Сэндвич панели
                            </div>
                            <div class="dettab__row-value" data-diff-value></div>
                            <div class="dettab__row-progress" data-diff-progress></div>
                        </div>
                    </div>

                    <div class="comment-simple">
                        Чем больше показатель, тем быстрее. Чем меньше показатель, тем ниже стоимость.
                    </div>
                </div>
            </div>
        </div>

        <div class="b-apply type-gray">
            <h2 class="b-apply__title b-title">
                Отправьте заявку и получите хайтек козырек
            </h2>

            <div class="b-apply__subtitle  b-subtitle">
                из нержавеющей стали и стекла в подарок <b>бесплатно</b> или <a class="link-gray" href="#">закажите
                    бесплатный звонок</a>
            </div>

            <form class="b-form js-form" action="#">
                <div class="b-form__i" data-form-item>
                    <i class="icons-form-name"></i>
                    <input type="text" name="name" class="b-form__input js-placeholder" placeholder="Ваше имя"/>
                </div>

                <div class="b-form__i" data-form-item>
                    <i class="icons-form-email"></i>
                    <input type="email" name="name" class="b-form__input js-placeholder" placeholder="E-mail"/>
                </div>

                <div class="b-form__i" data-form-item>
                    <i class="icons-form-phone"></i>
                    <input type="text" name="name" class="b-form__input js-placeholder" placeholder="Номер телефона"/>
                </div>

                <button type="submit" class="b-form__submit">
                    <span class="b-form__submit-text">Отправить заявку</span>
                    <span class="b-form__submit-inner"></span>
                </button>
            </form>
        </div>

        <div class="b-patent" id="patent">
            <h2 class="b-patent__title b-title">
                Патент компании
            </h2>

            <div class="b-patent__subtitle b-subtitle">
                на модульные дома
            </div>

            <div class="b-patent__text">
                Компания <b>der Stahl</b> владеет патентом на быстровозводимые модульные
                дома <span>№2223021</span>
            </div>

            <a href="./assets/images/patent-example.png" class="b-patent__image js-fancybox"></a>

        </div>

        <div class="b-footer">
            <div class="b-footer__inner">
                <a class="b-footer__link" href="#" data-target="frontscreen">
                    <span class="b-footer__icon"></span>
                </a>

                <div class="b-menu b-menu_state_footer js-menu">
                    <div class="b-footer__logo" title="der Stahl"></div>
                    <div class="b-menu__list" data-nav-hover>
                        <span class="b-menu__active" data-nav-active></span>
                        <a class="b-menu__link" data-nav-item href="#" data-target="module">Модули</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="technology">Технология</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="apply">Заказать проект</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="howlook">Как это выглядит</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="benefit">Выгода</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="whybl">Почему это удобно</a>
                        <a class="b-menu__link" data-nav-item href="#" data-target="info-detail">Инфографика</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./assets/scripts/plugins/jquery.min.js"></script>
    <script src="./assets/scripts/plugins/jquery.mousewheel.js"></script>
    <script src="./assets/scripts/plugins/jquery.jscrollpane.min.js"></script>
    <script src="./assets/scripts/plugins/jquery.fancybox.pack.js"></script>
    <script src="./assets/scripts/plugins/jquery.royalslider.custom.min.js"></script>
    <script src="./assets/scripts/plugins/jquery.placeholder.js"></script>
    <script src="./assets/scripts/plugins/zoomy1.0.js"></script>


    <script type="text/javascript" src="./assets/js/common.js"></script>


{% endblock %}
