
.b-apply {
    min-height: 656px;
    text-align: center;

    &.type-gray {
        background-color: #f2f2f2;
        min-height: 656px;
    }
}

.b-apply__title {
    padding-top: 110px;
    margin-bottom: 13px;
}

.b-apply__subtitle{
    b {
        color: #ff0c5c;
        font-weight: normal;
    }

    .link-gray {
        border-bottom: 1px solid #aaaaaa;
    }
}


// form
[class*="icons-form-"]{
    position: absolute;
    display: block;
}

.icons-form-name{
    left: 20px;
    top: 16px;
    width: 12px;
    height: 17px;
    background: url(../images/man.png) no-repeat;
}

.icons-form-email{
    left: 17px;
    top: 19px;
    width: 18px;
    height: 13px;
    background: url(../images/email.png) no-repeat;
}

.icons-form-phone{
    left: 17px;
    top: 15px;
    width: 19px;
    height: 18px;
    background: url(../images/phone.png) no-repeat;
}

.b-form{
    width: 458px;
    margin: 81px auto 0;
}

.b-form__i{
    margin-bottom: 20px;
    height: 52px;
    border: 1px solid #cbcbcb;
    border-radius: 26px;
    background-clip: padding-box ;
    background-color: #fff;
    position: relative;
    @include transition(border-color .2s ease-out);

    &.active{
        border-color: #666;
    }
}

$inputColor: #828282;
.b-form__input{
    background: none;
    border: none;
    font-size: 16px;
    box-shadow: none;
    font-family: Proxima, Arial;
    line-height: 29px;
    height: 48px;
    display: block;
    margin-left: 48px;
    width: 380px;

    &.placeholder{
        color: $inputColor;
        font-family: Proxima, Arial;
    }

    &::-webkit-input-placeholder {
        color: $inputColor;
        font-family: Proxima, Arial;
    }
    &:-moz-placeholder {
        color: $inputColor;
        font-family: Proxima, Arial;
    }
    &::-moz-placeholder {
        color: $inputColor;
        font-family: Proxima, Arial;
    }
    &:-ms-input-placeholder {
        color: $inputColor;
        font-family: Proxima, Arial;
    }

    &:focus::-webkit-input-placeholder {
        color: transparent;
    }
    &:focus:-moz-placeholder {
        color: transparent;
    }
    &:focus::-moz-placeholder {
        color: transparent;
    }
    &:focus:-ms-input-placeholder {
        color: transparent;
    }

    &:focus{
        border: none;
        background: #fff;
        outline: none;
    }
}

.b-form__submit{
    display: block;
    color: #ffffff !important;
    text-align: center;
    padding: 0;
    width: 216px;
    height: 50px;
    border-radius: 25px;
    background-clip: padding-box;
    background-color: #05beb7;
    box-shadow: 0 1px #00AAA0;
    border: none;
    line-height: 53px;
    margin: 0 auto;
    font-family: Proxima, Arial;
    position: relative;
    font-weight: bold;

    &:hover{
        .b-form__submit-inner{
            opacity: 0;
        }
    }

    &:active{
        position: relative;
        top: 1px;
        box-shadow: none;
    }

    &:focus{
        outline: none;
    }
}

.b-form__submit-text{
    position: relative;
    z-index: 3;
}

.b-form__submit-inner{
    z-index: 2;
    border-radius: 25px;
    background-clip: padding-box ;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #05beb7;
    background: linear-gradient(bottom, #05beb7 0%, #04f7c1 100%);

    @include transition(all .2s ease-out);
}
