.b-benefit {
    min-height: 541px;
    text-align: center;
}

.b-benefit__title {
    padding-top: 108px;
    margin-bottom: 13px;
}

.b-benefit__list {
    text-align: center;
    margin-top: 59px;
}

.b-benefit__i {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 0 18px;

    .title {
        font-size: 45px;
        color: #09ffc9;
        margin-bottom: 4px;
    }

    .subtitle {
        color: #a1a1a1;
        font-size: 22px;
        margin-bottom: 9px;
    }

    .text {
        font-size: 14px;
        line-height: 22px;
        font-family: Proxima, Arial, sans-serif;
        padding: 0 20px;
        height: 110px;
        overflow: hidden;
    }
}
