

.b-detail {
    min-height: 790px;
    overflow: hidden;
}

.b-detail__title {
    padding-top: 111px;

    b {
        color: #ff0c5c;
        font-weight: normal;
    }
}

.dettab {
    text-align: center;
    padding-top: 49px;
}

.dettab__nav {
    width: 700px;
    margin: 0 auto 73px;
    position: relative;
}

.dettab__nav-i {
    display: inline-block;
    vertical-align: top;
    margin-bottom: -4px;
    min-width: 70px;
    padding: 0 8px;
    height: 33px;
    line-height: 30px;
    font-size: 16px;
    color: #282828 !important;
    text-decoration: none !important;
    border: 1px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    position: relative;
    z-index: 20;
    @include transition(all .1s ease-out);

    &:focus {
        outline: none;
    }
}


.dettab__table {
    width: 987px;
    margin: 0 auto;
}

.dettab__row {
    @include clearfix();
    position: relative;
    margin-bottom: 5px;

    &:nth-child(1) {
        .dettab__row-text {
            color: #202020;
            line-height: 17px;
            position: relative;
            padding-right: 70px;
            padding-top: 4px;
            font-weight: bold;

            &:after {
                content: '';
                position: absolute;
                right: -3px;
                top: 9px;
                width: 52px;
                height: 25px;
                background: url(../images/stahl.png) no-repeat;
            }
        }

        .dettab__row-value {
            color: #ff1b67;
        }

        .dettab__row-progress {
            background-color: #ff1b67;
        }
    }

    &:nth-child(2) {
        .dettab__row-value {
            color: #19f7e5;
        }

        .dettab__row-progress {
            background-color: #19f7e5;
        }
    }

    &:nth-child(3) {
        .dettab__row-value {
            color: #09ffc9;
        }

        .dettab__row-progress {
            background-color: #09ffc9;
        }
    }

    &:nth-child(4) {
        .dettab__row-value {
            color: #05ff93;
        }

        .dettab__row-progress {
            background-color: #05ff93;
        }
    }

    &:nth-child(5) {
        .dettab__row-value {
            color: #49f1f7;
        }

        .dettab__row-progress {
            background-color: #49f1f7;
        }
    }
}

.table-row-inner-derstahl {
    display: inline-block;
    vertical-align: top;
    font-family: Proxima, Arial;
    width: 200px;
}

.dettab__row-text {
    width: 359px;
    float: left;
    color: #a1a1a1;
    font-family: Proxima, Arial;
    font-size: 14px;
    line-height: 45px;
    text-align: right;

    @include transform(translateZ(0));
}

.dettab__row-value {
    float: left;
    margin-left: 6px;
    width: 52px;
    height: 45px;
    color: #ff1b67;
    font-size: 22px;
    line-height: 45px;
    font-weight: bold;
}

.dettab__row-progress {
    float: left;
    height: 45px;
    min-width: 10px;
    position: relative;
    @include transition(all .8s ease-out);
}

.dettab__row-tooltip {
    font-size: 14px;
    line-height: 22px;
    color: #aaaaaa;
    font-family: "Proxima", Arial;
    width: 300px;
    position: absolute;
    right: -384px;
    top: -34px;
    text-align: left;
    display: none;

    &:before {
        content: '';
        width: 60px;
        height: 22px;
        position: absolute;
        background: url(../images/line.png) no-repeat;
        left: -71px;
        top: 35px;
    }
}


@media screen and (max-width: 1400px){
    .dettab__row-tooltip{
        width: 250px;
        right: -300px;
        top: auto;
        bottom: 0;

        &:before{
            width: 30px;
            left: -41px;
        }
    }
}

@media screen and (max-width: 1250px){
    .dettab__row-tooltip {
        right: -220px;
        width: 200px;

        &:before {
            left: -41px;
            top: 27px;
        }
    }


    .dettab__nav{
        margin-top: -20px !important;
        margin-bottom: 90px !important;
    }
}

@media screen and (max-width: 1100px) {
    .dettab__row-tooltip {
        right: -176px;
        width: 160px;
    }
}

.comment-simple{
    text-align: center;
    font-family: "Proxima", Arial, sans-serif;
    color: #aaaaaa;
    margin-top: 63px;
    font-size: 14px;
}

