.b-feedback {
    min-height: 452px;
    text-align: center;
    background: #202020 url(../images/bg-simple.png) no-repeat 50% top;
}

.b-feedback__slider {
    height: 450px !important;
    position: relative;

    .rsBullets {
        position: absolute;
        bottom: 72px;
        left: 0;
        right: 0;
        height: 20px;
        text-align: center;
    }

    .rsNavItem {
        cursor: pointer;
        display: inline-block;
        width: 12px;
        height: 12px;
        opacity: .4;
        border-radius: 12px;
        background-clip: padding-box;
        background-color: #fff;

        @include transition(all .2s ease-out);
        margin-right: 16px;

        &:hover,
        &.rsNavSelected {
            opacity: 1;
        }
    }
}

.b-feedback__i {
    width: 900px;
    margin: 0 auto;
}

.b-feedback__i-title {
    color: #09ffc9;
    font-size: 45px;
    line-height: 55px;
    padding-top: 110px;
    width: 872px;
    margin: 0 auto 28px;
    font-family: ArialRounded, Arial;
}

.b-feedback__i-con {
    width: 330px;
    margin: 0 auto;
}

.b-feedback__i-img {
    display: block;
    float: left;
    margin-right: 21px;
    width: 75px;
    height: 75px;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 75px;
}

.b-feedback__i-text {
    width: 229px;
    display: table;
    text-align: left;
    color: #BEBEBE;
    font-size: 14px;
    line-height: 22px;
    height: 75px;

    .inner {
        display: table-cell;
        vertical-align: middle;
    }
}
