
/* == footer ==*/
.b-footer{
    height: 228px;
    background-color: #f2f2f2;
    position: relative;
}

.b-footer__inner{
    width: 1010px;
    margin: 0 auto;
}

.b-footer__link{
    display: block;
    width: 35px;
    height: 35px;
    @include transform( rotate(45deg));
    background-color: #0bf1bf;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    top: -17px;
    z-index: 10;
    @include transition(background-color .2s ease-out);

    &:hover{
        background-color: #ededed;
    }
}

.b-footer__icon {
    display: block;
    position: absolute;
    background: url(../images/arrow-up.png) no-repeat;
    width: 13px;
    height: 14px;
    @include transform(rotate(-45deg));
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -8px;
}

.b-footer__logo{
    position: absolute;
    right: -2px;
    top: 90px;
    width: 85px;
    height: 59px;
    background: url(../images/stahl-more.png) no-repeat;
}
