

.b-front{
    background-color: #282120;
    min-height: 668px;
    position: relative;
}

.b-front__inner{
    width: 1010px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.b-front__info {
    padding: 65px 0 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 231px;
}

.b-front__phone{
    color: #ffffff;
    font-family: ArialRoundedBold, Arial;
    text-decoration: none !important;
    display: inline-block;
    vertical-align: top;
    margin: 20px 50px 0 0;
    @include simple-link(#fff, #fff);
    line-height: 1;
}

.b-front__icon {
    display: inline-block;
    width: 88px;
    height: 76px;
    background: url(../images/block.png) no-repeat;
    vertical-align: top;
    margin-right: 63px;
}

.b-front__head {
    color: #fff;
    padding-top: 20px;
    text-align: center;
}

.b-front__title {
    font-size: 50px;
    margin-bottom: 12px;
    font-family: ArialRoundedBold, Arial;
}

.b-front__subtitle {
    font-size: 16px;
    line-height: 22px;
    font-family: "Proxima", Arial, sans-serif;
    width: 754px;
    margin: 0 auto;
}

.b-front__link{
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    bottom: -18px;
    z-index: 100;

    .inner{
        display: block;
        width: 35px;
        height: 35px;
        @include transform( rotate(45deg));
        background-color: #ededed;
        border-radius: 2px;
        @include transition(background-color .2s ease-out);
    }

    &:after{
        content: '';
        position: absolute;
        background: url(../images/arrow-down.png) no-repeat;
        width: 13px;
        height: 14px;
        left: 50%;
        top: 50%;
        margin: -8px 0 0 -6px;
    }

    &:hover .inner{
        background-color:  #0bf1bf;
    }
}


.front-slider{
    position: absolute;
    width: 100%;
    height: 668px !important;
    z-index: 1;

    .rsOverflow{
        height: 668px !important;
    }

    .rsBullets{
        position: absolute;
        z-index: 10;
        right: 0;
        left: 0;
        bottom: 107px;
        height: 11px;
        text-align: center;
    }

    .rsNavItem{
        display: inline-block;
        vertical-align: top;
        width: 11px;
        height: 11px;
        opacity: .4;
        border-radius: 11px;
        background-clip: padding-box ;
        background-color: #fff;
        margin: 0 6px;
        cursor: pointer;

        @include transition(all .2s ease-out);

        &:hover,
        &.rsNavSelected{
            opacity: 1;
        }
    }
}


.front-slider__i{
    height: 668px;
    width: 100%;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
