.b-menu {
    @include clearfix();
    padding-top: 50px;
}

.b-logo {
    position: absolute;
    display: block;
    right: -1px;
    top: 97px;
    text-decoration: none !important;
    width: 85px;
    height: 59px;
    background: url(../images/stahl-light.png) no-repeat;
}

.b-menu__list {
    display: block;
    text-align: left;
    margin-top: 20px;
    position: relative;
}

.b-menu__link {
    display: block;
    float: left;
    color: #ffffff !important;
    font-family: Proxima, Arial, sans-serif;
    padding: 0 10px;
    font-size: 12px;
    text-decoration: none !important;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    letter-spacing: 1.3px;
    position: relative;
    z-index: 20;
    margin-right: -8px;
}

.b-menu__active {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    border: 1px solid #05ff93;
    border-radius: 30px;
    width: 81px;
    display: none;
    z-index: 2;
    background: transparent;
}

/* state */
.b-menu_state_top{
    padding-top: 82px;
    position: relative;
    margin-left: -6px;
}

.b-menu_state_footer{
    padding-top: 79px;
    margin-left: -5px;
    padding-right: 127px;
    position: relative;

    .b-menu__link{
        color: #282828 !important;
        font-size: 12px;
        font-family: Proxima, Arial;
    }
}

