.b-how {
    min-height: 954px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
}

.b-how__title {
    padding-top: 109px;
    margin-bottom: 13px;
}

.b-how__tabs {
    margin-top: 71px;
}

.b-how__nav {
    text-align: center;
    position: relative;
}

.b-how__nav-i {
    display: inline-block;
    font-family: "Proxima", Arial, sans-serif;
    text-align: center;
    min-width: 100px;
    padding: 0 10px;
    height: 32px;
    font-size: 16px;
    line-height: 30px;
    color: #282828 !important;
    border: 1px solid transparent;
    text-decoration: none !important;
    border-radius: 16px;
    background-clip: padding-box;
    position: relative;
    z-index: 20;

    @include transition(all .2s ease-out);

    &:focus {
        outline: none;
    }
}

.fade{
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;

    &.in{
        opacity: 1;
    }
}

.b-how__content{
    margin-top: 36px;
    position: relative;
}

.b-how__content-i{
    text-align: center;
    opacity: 0;
    @include transition(opacity .2s linear);
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 550px;
    z-index: 1;

    &.active{
        opacity: 1;
        z-index: 2;
    }

    .title{
        font-size: 22px;
        margin-bottom: 21px;
        font-weight: bold;

        b{
            color: #ff3d7d;
        }
    }

    .content{
        font-size: 16px;
        line-height: 22px;
        font-family: "Proxima", Arial, sans-serif;
    }
}


.b-scroll {
    height: 337px;
    width: 100%;
    overflow: auto;
    max-height: 337px;
    margin-top: 80px;

    &:focus {
        outline: none;
    }
}

.b-scroll__inner {
    @include clearfix();

    &:focus {
        outline: none;
    }
}

.b-scroll__i {
    float: left;
    display: block;
    height: 276px;
    width: 500px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.jspHorizontalBar {
    background: none;
    left: 30%;
}

.jspTrack {
    display: block;
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur);
    cursor: -webkit-grab;
    cursor: -moz-grab;
    box-shadow: 0 1px #fcfcfc, 0 1px #cfcfcf inset;
    width: 524px;
    height: 5px !important;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #fff;
    background: linear-gradient(bottom, #f1f1f1 0%, #f1f1f1 0.49%, #e5e5e5 100%);
}

.jspDrag {
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur);
    cursor: -webkit-grab;
    cursor: -moz-grab;
    top: -2px;
    height: 9px !important;
    border-radius: 4px;
    background-clip: padding-box;
    background-color: #05beb7;
    background: linear-gradient(bottom, #05beb7 0%, #04f7c1 100%);
    box-shadow: 0 1px #00ada0;
}

.jspCap {
    display: block;
    width: 30%;
}