.b-module {
    min-height: 995px;
    position: relative;
}

.b-module__inner {
    width: 990px;
    margin: 0 auto;
}

.b-module__title {
    padding-top: 94px;
    margin-bottom: 16px;
}

.module-slider {
    height: 175px !important;
    margin-top: 241px;
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    font-family: "Proxima", Arial;
    padding-bottom: 45px;
    position: relative;
}

.module-slider__i {
    height: 130px;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    display: none;

    &:first-child{
        display: block;
    }
}

.module-slider__nav {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    text-align: left;
}

.module-slider__nav-i {
    cursor: pointer;
    display: inline-block;
    width: 11px;
    height: 11px;
    opacity: .2;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #000;

    @include transition(all .2s ease-out);
    margin-right: 16px;

    &:hover,
    &.active {
        opacity: .8;
    }
}

.module-draft {
    display: block;
    position: absolute;
    top: 251px;
    width: 901px;
    height: 820px;
    z-index: 2;
    right: 0;
}

.module-draft__img {
    width: 901px;
    display: block;
    height: 820px;
    background: url(./../images/detail-bg.png) no-repeat;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.module-draft__i {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 4;

    .pin {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: #00ffcc;
        position: relative;
    }

    .pin-outer {
        position: absolute;
        left: -17px;
        top: -17px;
        width: 44px;
        height: 44px;
        opacity: .3;
        border-radius: 22px;
        background-clip: padding-box;
        background-color: #09ffc9;
        @include transition(all .2s ease-out);
    }

    .image {
        position: absolute;
        width: 184px;
        height: 184px;
        border-radius: 184px;
        overflow: hidden;
        left: -87px;
        top: -87px;
        @include transition(all .2s ease-out .2s);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -webkit-background-size: cover;
        background-size: cover;
        @include transform(scale(0));
    }

    &.show-image {
        .pin-outer {
            @include transform(scale(0));
        }

        .image {
            @include transform(scale(1));
        }
    }

    &.position-1 {
        left: 199px;
        top: 46px;

    }

    &.position-2 {
        left: 13px;
        bottom: 214px;
    }

    &.position-3 {
        left: 222px;
        bottom: 384px;
    }
}

@media screen and (max-width: 1300px) {
    .module-draft {
        width: 700px;
    }

    .module-draft__img {
        width: 700px;
        overflow: hidden;
    }
}