
.b-patent {
    min-height: 783px;
    text-align: center;
}

.b-patent__title {
    padding-top: 109px;
    margin-bottom: 13px;
}

.b-patent__text {
    font-size: 16px;
    line-height: 22px;
    font-family: Proxima, Arial;
    width: 590px;
    margin: 57px auto 0;

    b {
        font-family: ProximaBold, Arial;
        font-weight: bold;
        text-transform: uppercase;
    }

    span {
        color: #0bf1be;
    }
}

.b-patent__image {
    display: block;
    margin: 64px auto 20px;
    width: 224px;
    height: 363px;
    background: url(../images/patent-image.png) no-repeat;
}
