
[class*="icons-tech"] {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto 24px;
}

.icons-tech-sbor {
    background: url(../images/image1.png) no-repeat;
}

.icons-tech-quality {
    background: url(../images/image2.png) no-repeat;
}

.icons-tech-progress {
    background: url(../images/image3.png) no-repeat;
}

.b-tech {
    min-height: 653px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;
}

.b-tech__title {
    padding-top: 109px;
    margin-bottom: 13px;
}

.b-tech__list {
    text-align: center;
    padding-top: 51px;
}

.b-tech__i {
    display: inline-block;
    vertical-align: top;
    width: 339px;

    .title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .text {
        padding: 0 40px;
        color: #a1a1a1;
        font-size: 14px;
        line-height: 22px;
        font-family: Proxima, Arial, sans-serif;
    }
}

@media screen and (max-width: 1100px) {
    .b-tech__i {
        width: 300px !important;
    }
}