
@font-face {
    font-family: 'Proxima';
    src: url('./../fonts/proxima_nova_regular-webfont.eot');
    src: url('./../fonts/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/proxima_nova_regular-webfont.woff') format('woff'),
    url('./../fonts/proxima_nova_regular-webfont.ttf') format('truetype'),
    url('./../fonts/proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaBold';
    src: url('./../fonts/proxima_nova_bold-webfont.eot');
    src: url('./../fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/proxima_nova_bold-webfont.woff') format('woff'),
    url('./../fonts/proxima_nova_bold-webfont.ttf') format('truetype'),
    url('./../fonts/proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedBold';
    src: url('./../fonts/ArialRoundedMTProCyr-Bold.eot');
    src: local('arialroundbold'), url('./../fonts/ArialRoundedMTProCyr-Bold.woff') format('woff'), url('./../fonts/ArialRoundedMTProCyr-Bold.ttf') format('truetype'), url('./../fonts/ArialRoundedMTProCyr-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRounded';
    src: url('./../fonts/ArialRoundedMTProCyr.eot');
    src: local('arialround'), url('./../fonts/ArialRoundedMTProCyr.woff') format('woff'),
    url('./../fonts/ArialRoundedMTProCyr.ttf') format('truetype'),
    url('./../fonts/ArialRoundedMTProCyr.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media all and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'ArialRounded';
        src: url('./../fonts/ArialRoundedMTProCyr.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

