

.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
    font-size: 1px;
}

.cclear {
    clear: both !important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.pull-left {
    float: left !important
}

img.pull-left {
    float: left !important;
    margin: 0 10px 10px 0;
}

.pull-right {
    float: right !important
}

img.pull-right {
    float: right !important;
    margin: 0 0 10px 10px;
}

.ovh {
    overflow: hidden !important;
}

.aright {
    text-align: right !important;
}

.aleft {
    text-align: left !important;
}

.acenter {
    text-align: center !important;
}

.hidden{
    display: none;
}

.vhidden {
    visibility: hidden;
}

.t-ellps {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

@mixin simple-link( $color: $link-color, $color-hover:$link-hover-color){
    @if $color != $link-color {
        color: $color;
    }

    display: inline-block;

    line-height: 1;
    text-decoration: none !important;
    @include transition(all .2s ease-out);
    border-bottom: 1px solid transparent;

    &:hover{
        border-color: $color-hover;
        @if $color-hover != $link-hover-color{
            color: $color-hover;
        }
    }
}
