@import "../core/mixins";

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #39C;
    text-decoration: none;

    &:hover,
    &:focus {
        color: #39C;
        text-decoration: underline;
    }
}

img {
    vertical-align: middle;
}

.img-responsive {
    @include img-responsive();
}

// Rounded corners
.img-rounded {
    border-radius: 6px;
}

p {
    margin: 0 0 13px;
}

small,
.small  { font-size: 85%; }

// Undo browser default styling
cite    { font-style: normal; }

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: ArialRounded, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

h1,
h2,
h3 {
    margin-top: 25px;
    margin-bottom: 13px;

    small,
    .small {
        font-size: 65%;
    }
}
h4,
h5,
h6 {
    margin-top: 13px;
    margin-bottom: 13px;

    small,
    .small {
        font-size: 75%;
    }
}

h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 16px; }
h6, .h6 { font-size: 14px; }

ul,
ol {
    margin-top: 0;
    margin-bottom: 13px;
    ul,
    ol {
        margin-bottom: 0;
    }
}

// Description Lists
dl {
    margin-bottom: 22px;
}
dt,
dd {
    line-height: 1.61;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0; // Undo browser default
}

.b-title{
    color: #202020;
    font-size: 45px;
    margin-bottom: 18px;
    text-align: center;
    padding-top: 30px;
    margin-top: 0;
}

.b-subtitle{
    color: #aaaaaa;
    font-size: 16px;
    text-align: center;
    font-family: Proxima , Arial;
}

// link
.link-gray{
    @include simple-link( #aaaaaa, #202020);
}

.link-simple{
    @include simple-link( #07c59b, #202020);
}