@import "core/vars",
        "core/mixins",
        "core/fonts";

@import "core/reset",
        "core/helpers",
        "core/scaffolding";

body{
    font-family: ArialRounded, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.61;
    color: #202020;
    background-color: #fff;
    min-width: 950px;
}

/* == Plugins ==*/
@import "plugins/fancybox",
        "plugins/jsscrollpage",
        "plugins/royaslider",
        "plugins/zoom";

/* == Pages ==*/
@import "./pages/page";


